#countdown-timer {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    background: #FAF8F5;
    justify-content: center;
  }
  
  .time-box {
    text-align: center;
    width: 60%;
    max-width: 10%;
  }
  
  .number {
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent1);
  }
  
  .label {
    font-size: 0.8em;
    margin-top: 5px;
    color: var(--accent1);
  }
  

  @media (max-width: 768px) {
    .time-box {
      width: 100%;
      max-width: 100%;
    }
}