/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    background-color: #fff;
  }
  
  /* --------------------- */
  /* HERO SECTION (TOP)    */
  /* --------------------- */
  .details-split {
    display: flex;
    align-items: center;
    height: 70vh
  }
  
  .details-text {
    flex: 0 0 55%;
    padding: 2rem;
    box-sizing: border-box;
    overflow: visible;
    letter-spacing: 0ch;
    white-space: nowrap;
    justify-content: left;
    max-width: 55%;
    z-index: 3;
  }
  .details-text h1 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
    letter-spacing: 0.565ch;
  }
  .details-text h2 {
    font-size: 2rem;
    font-weight: 100;
    display: inline;
    letter-spacing: 0.2ch;
  }

  .details-text p {
    font-size: 1rem;
    display: inline;
    white-space: pre;
    margin-bottom: 1rem;
  }
  
  .details-image {
    flex: 0 0 45%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }  
  
  .details-image img {
    max-height: 600px;
    object-fit: cover;
  }

  /* Each line of text */
.line {
    margin: 0;
    margin-bottom: 0.4em;  /* Adjust spacing between lines as needed */
  }
  
  /* Indented lines */
  .indent {
    margin-left: 2em;      /* Adjust the indentation amount as you prefer */
  }