/* Hero Section */
.hero-location {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../images/bamfordEdge.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light1);
}