.pool-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.pool-button {
    border: 2px solid #fff;
    color: var(--accent1);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    max-width: 30%;
    width: 100%;
    color: #fff;
    margin: 1rem;
}

.pool-button:hover {
    background-color: var(--accent1);
    color: var(--light1);
    border: 2px solid var(--accent1);
}

@media screen and (max-width: 768px) {
  .pool-buttons {
    flex-direction: column;
  }
  .pool-button {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
    
}