/* RSVP Page Styling */

.rsvp-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--light1);
    border: 1px solid var(--accent2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.rsvp-container h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--dark1);
    font-family: var(--titleFont);
}
.rsvp-container form {
    display: flex;
    flex-direction: column;
}
.rsvp-container label {
    margin: 0.5rem 0 0.2rem;
    font-size: 1rem;
    color: var(--dark1);
}
.rsvp-container input,
.rsvp-container select,
.rsvp-container button {
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--dark2);
    border-radius: 5px;
}
.rsvp-container button {
    background-color: var(--accent1);
    color: var(--light1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.rsvp-container button:hover {
    background-color: var(--accent2);
}
.rsvp-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}
.rsvp-table th,
.rsvp-table td {
    border: 1px solid var(--dark2);
    padding: 0.5rem;
    text-align: left;
}
.rsvp-table th {
    background-color: var(--accent1);
    color: var(--light1);
}
