/* Timeline Styling */

.schedule {
    padding: 0rem 0rem;
    font-family: var(--bodyFont);
    background-color: var(--light1);
    text-align: center;
    color: var(--dark1);
}

.schedule h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--dark1);
    font-family: var(--titleFont);
}

.schedule p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--dark1);
    line-height: 1.5rem;
}

.schedule-timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.schedule-timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: var(--accent1);
    z-index: 0;
}

.schedule-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.schedule-item h3 {
    font-size: 1.2rem;
    margin: 1rem;
    color: var(--dark1);
    font-family: var(--titleFont);
    text-align: right;
}

/* Marker styling (the “dot” on the timeline) */
.schedule-item .marker {
    width: 2%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent1);
    position: absolute;
    top: 0%;
    left: 49%;
    margin: 0.45rem 0rem;
    z-index: 1; /* to appear above the line */
}

.schedule-item .date h3{
    font-size: 1.2rem;
    color: var(--dark1);
    font-family: var(--titleFont);
}

.schedule-item .content {
    background: transparent;
    border-radius: 8px;
    max-width: 50%;
    width: 100%;
}

.schedule-item .content h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--dark1);
    font-family: var(--titleFont);
    margin: 0rem 2rem;
}

.schedule-item .content h3 {
    font-size: 1.2rem;
    margin: 0rem 2rem;
    color: var(--dark1);
    font-family: var(--titleFont);
    text-align: right;
}

.schedule-item .content h4 {
    font-size: 1rem;
    margin: 1rem 2rem;
    color: var(--dark1);
    font-family: var(--titleFont);
}

.schedule-item .content p {
    font-size: 1rem;
    color: var(--dark1);
    margin: 1rem 2rem;
}

.schedule-item.left {
    text-align: right;
    flex-direction: row;        /* content to the right of marker */
    width: 100%;
}

.schedule-item.right {
    text-align: left;
    flex-direction: row-reverse; /* content to the left of marker */
    width: 100%;
}

/* Responsive Design for Small Screens */
@media screen and (max-width: 768px) {
    .schedule-timeline::before {
        left: 5%; /* Move the central line to the left side */
        transform: none;
    }

    .schedule-item {
        flex-direction: row; /* Stack items horizontally */
        align-items: flex-start; /* Align content to the left */
    }

    .schedule-item .content {
        max-width: 80%; /* Allow content to stretch fully */
        text-align: left; /* Align text to the left */
        margin: 0 auto 1rem; /* Center content with spacing */
    }

    .schedule-item .marker {
        width: 4%;
        aspect-ratio: 1;
        top: 17%; /* Move the marker to the top */
        left: -0.5%; /* Move the marker to the left */
    }
}