/* -----------------
   WHAT, WHEN, WHERE
  ----------------- */
  .www-section {
    padding: 2rem 2rem;
    text-align: center;
  }
  .www-section h2 {
    color: var(--dark1);
    font-family: var(--titleFont);
  }
  .www-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    text-align: left;
  }
  .www-box {
    background: #FFF;
    padding: 2rem;
    min-width: 200px;
    max-width: 250px;
    border-radius: 8px;
    border: 0px solid #DDD;
  }
  .www-box h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--dark1);
    font-family: var(--bodyFont);
  }
  .www-box p {
    color: #555;
    margin-bottom: 0.3rem;
  }

  .map-container {
    position: relative;
    /* 16:9 aspect ratio (or pick another ratio) */
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%; /* Ensures it doesn’t overflow its parent */
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Remove default border */
  }
  